@charset "UTF-8";

@media  screen and (max-width: 800px)
{
    .house{
        display: none;
    }

    .form , form{
        width: 100%;
        
    }

    main{
        height: 600px;
        padding: 40px;
    }
}
