<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-homepage.css">
    <title>NatureBnB</title>
</head>
<body>

    <header>
    <div class="nav-bar">
        <h2> <span style="color: #2982ae;">Nature</span>BnB</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">House</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <button onclick="">Registre-se</button>
    </div>

    <div class="home">
            <div class="text">
                <h1>Hospede-se com conforto.</h1> 
                <div class="home-p">
                    <p>Country House</p>
                    <p>Nature</p>
                </div>
            </div>
            <img src="../static/img/Select house-amico.svg" alt="">
    </div>
    </header>


    <section class="About">
        <img src="../static/img/31590523_7805001.svg" alt="">
        <div class="text-about">
            <h1 style="color: #003366;">About Us</h1>
            <p>No NatureBnB, conectamos você a casas de campo selecionadas,
            ideais para descansar, curtir a natureza e viver momentos especiais com conforto e simplicidade.</p>
            <button onclick="">Saiba mais</button>
        </div>
    </section>
    
</body>
